@model IEnumerable<BookingHotel.Models.Room>

@{
    ViewData["Title"] = "Room List";
}

<h2>Room List</h2>

<p>
    <a asp-action="Add" asp-controller="Room" asp-route-roomTypeId="@ViewBag.roomTypeId" class="btn btn-primary">Add Room</a>
</p>

<div class="row">
    @foreach (var room in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Room Number: @room.RoomNumber</h5>
                    <p>@room.IsAvailable</p>
                    <div class="card-footer" role="group" aria-label="Room Actions">
                        <a asp-action="Update" asp-route-id="@room.Id" class="btn btn-secondary btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@room.Id" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
