@model IEnumerable<BookingHotel.Models.RoomType>

@{
    ViewData["Title"] = "Room Types";
}

<h2>Room Types</h2>

<p>
    <a asp-action="Add" class="btn btn-primary">Add New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Adults</th>
            <th>Children</th>
            <th>Description</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Adults</td>
                <th>@item.Children</th>
                <td>@item.Description</td>
                
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
