@model IEnumerable<BookingHotel.Models.Hotel>
<h1>Hotels</h1>
<p>
    <a asp-action="Add">Add Hotel</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Hotel Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Region</th>
            <th>Image Url</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Address</td>
                    <td>@item.RegionId</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="Product Image" style="max-width: 200px; max-height: 200px" />
                        }
                    </td>
                    <th></th>
                    <td>
                        <a asp-action="#" asp-route-id="@item.Id">View</a>
                        <a asp-action="#" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="#" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
